.grid {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.square {
    flex: 1 1 auto;
    border: 1px solid black;
}

.hover-over-effect{
    background-color: black;
}